alembic
aniso8601
certifi
click
Flask
Flask-Login
Flask-RESTful
Flask-WTF
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing-extensions
urllib3
Werkzeug
WTForms
zipp
