{% extends "base.html" %}

{% block content %}
    <meta charset="utf-8">
    <h2 align="left">Список профессий</h2>
    {% if list == 'ol' %}
        <ol padding-left: 20px>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
        </ol>
    {% elif list == 'ul' %}
         <ul padding-left: 20px>
            {% for item in professions %}
                <li>{{ item }}</li>
            {% endfor %}
         </ul>
    {% else %}
            <p>Wrong parameter</p>
    {% endif %}

{% endblock %}